.container{
    border: solid black 1px;
    justify-content: center;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 51%;
}

.head{
    font-family: emoji;
    font-weight: bolder;
}

.button{
    width: 51%;
    padding: 15px;
    background: transparent;
    cursor: pointer;
}