.example-container .mat-form-field + .mat-form-field {
    margin-left: 1px;
  }

  .example-container{
    margin-left: 23%;
  }

  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
    font-size: 150%;
    line-height: 0.9px;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 450px;
}

.container{
  margin-top: 8%;
  width: 60%;
  border: #A03037 solid 1px;
  border-radius: 10px;
  margin-left: 19%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f7f7f7;
}

.head-text{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: emoji;
  margin-left: 40%;
  color: #A03037;
}

.login-button{
  width: 67%;
  height: 45px;
  background: #A03037;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar {
  width: 100%;
  background-color: #A03037;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: emoji;
}

.footer {
  width: 100%;
  background-color: #A03037;
  color: white;
  text-align: center;
  height: 45px;
  margin-top: 115px;
}

.footer-text{
   padding: 13px 0px;
   font-size: 15px;
   font-family: emoji;
}