<header>
    <div class="navbar">
        <img src="/assets/education.svg" style="margin-left: 30px;">
        <a class="active" href="#">BOOK STORE</a>
      </div>
</header> 
<div class="container" >
    <div class="main-content" >
        <div style="margin-left: 25%;">
           <img src="/assets/Group 4132.svg" alt="">
           <h1 class="order-head">Order Placed Successfully</h1>
        </div><br>

        <p class="summary">Hurray!!! Your Order is confirmed the order id is #{{order_id}} save 
            the order id for further communication...
        </p>

        <table>
          <tr>
            <th>Email Us</th>
            <th>Contact Us</th>
            <th>Address</th>
          </tr>
          <tr>
            <td>connect2srinath06@gmail.com</td>
            <td>+91 9994982171</td>
            <td>Mumbai</td>
          </tr>
        </table>
        

        <button type="button" class="btn btn-primary btn-sm cs" [routerLink]="['/home']" routerLinkActive="router-link-active">CONTINUE SHOPPING</button><br><br>
    </div>
    
</div>
