.card {
    border: solid black 1px;
    text-align: center;
    background: white;
}

.container {
    border: solid black 1px;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 20%;
}


.head{
    font-family: emoji;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.otp{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile-text {
    color: #989696b8;
    font-size: 15px
}

.form-control {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
}

.cursor {
    cursor: pointer;
    margin-left: 10px;
}